%% --- Rebar3 Configuration File ---
%% This file tells Rebar3 which external libraries our project needs.

{erl_opts, [debug_info]}.
{deps, [
    %% Cowboy is the ultimate HTTP and WebSocket server for Erlang
    {cowboy, "2.12.0"},
    %% JSX is a super fast JSON parsing library (we'll need it to talk to the browser)
    {jsx, "3.1.0"}
]}.