%% --- Rebar3 Configuration File ---
{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.11.0"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.1.0"}}}
]}.

%% Tell Rebar3 to boot our app automatically in the shell!
{shell, [{apps, [gomoku_backend]}]}.